#img-div {
    background-image: url("lebronchalk.jpeg");
    height: 800px;
    width: 800px;
    background-repeat: no-repeat
}

#img-div:hover {
    content: url("lebronchamp.jpg");
    cursor: pointer;
    height: 600px;
    width: 800px;
    background-repeat: no-repeat
}